@import "reset";

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: floralwhite;
}

nav {
  ul {
    list-style-type: none;

    li {
      display: inline;

      div {
        margin-left: 25px;
        display: inline;
        cursor: pointer;
      }

      div.selected {
        text-decoration: underline;
        color: rgb(5, 39, 103);
      }
    }
  }
}

ul li.recipeContainer {
  display: none;

  &.selected {
    display: block;
  }
}

article.recipe {
  border: 2px solid black;
  width: 300px;
  padding: 10px 20px;
  margin: 40px;

  h2.author {
    font-size: 0.80em;
    font-weight: normal;
    
    span.author-name {
      font-weight: bold;
    }
  }

  ul.ingredient-list {
    list-style-type: disc;

    li.ingredient {
      margin-left: 20px;
    }
  }
}
