@import "reset";

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: floralwhite;
}

div#container {
  width: 100%;
}

.hide {
  display: none;
}

ul#recipes {
  width: 300px;
  margin: 20px auto;

  li.recipeContainer {
    display: none;

    &.selected {
      display: flex;
      flex-direction: column;

      article {
        justify-content: center;
        flex-grow: 3;
      }

      article.recipe {
        border: 2px solid black;
        width: 260px;
        padding: 10px 20px;
        margin: 40px 0;
        border-radius: 20px;

        h2.author {
          font-size: 0.8em;
          font-weight: normal;

          span.author-name {
            font-weight: bold;
          }
        }

        ul.ingredient-list {
          list-style-type: disc;

          li.ingredient {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.navigation {
  list-style: none;
  margin: 0;

  background-color: rgb(5, 39, 103);

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation div {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.navigation div:hover {
  background: darken(rgb(5, 39, 103), 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 720px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation div {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type div {
    border-bottom: none;
  }
}
