@import "reset";

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: floralwhite;
}

div#container {
  width: 100%;
}

.hide {
  display: none;
}

nav {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgb(5, 39, 103);
  color: white;
  overflow: hidden;
  &.open {
    width: 150px;
    height: 300px;
    animation-duration: 0.5s;
    animation-name: slidein;
  }

  &.closed {
    width: 40px;
    height: 40px;
    animation-duration: 0.25s;
    animation-name: slideout;
  }

  .nav-toggle {
    margin: auto;
    font-size: 2em;
  }

  ul#nav-items {
    list-style-type: none;
    display: none;

    &.show {
      display: block;
    }

    li {
      div {
        margin-left: 25px;
        display: inline;
        cursor: pointer;
        color: white;
      }

      div.selected {
        text-decoration: underline;
      }
    }
  }
}

ul#recipes {
  width: 300px;
  margin: 20px auto;

  li.recipeContainer {
    display: none;

    &.selected {
      display: flex;
      flex-direction: column;

      article {
        justify-content: center;
        flex-grow: 3;
      }

      article.recipe {
        border: 2px solid black;
        width: 260px;
        padding: 10px 20px;
        margin: 40px 0;
        border-radius: 20px;

        h2.author {
          font-size: 0.8em;
          font-weight: normal;

          span.author-name {
            font-weight: bold;
          }
        }

        ul.ingredient-list {
          list-style-type: disc;

          li.ingredient {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@keyframes slidein {
  from {
    width: 40px;
    height: 40px;
  }

  to {
    width: 150px;
    height: 300px;
  }
}

@keyframes slideout {
  from {
    width: 150px;
    height: 300px;
  }

  to {
    width: 40px;
    height: 40px;
  }
}
